<html>

  <head>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CCstyle.css') }}">
  </head>

  <body>
  <form method="POST">
    <input name="text">
    <input type="submit">
  </form>
    <div id="countdown"></div>
    <span id="timer">0</span> s <button type="button" id="MyB" class = 'button' onclick="style.display = 'none'">Start!</button>
<button type="button" class="button" onclick="window.location.href='{{ url_for( 'res') }}';">Leader board</button>

    <table class='T1' id='myTable'>
      <tbody id='body'>

<!--      {% if num_rows is defined %}-->
<!--          value of num_rows: {{ num_rows }}-->
<!--      {% else %}-->
<!--          num_rows = 4-->
<!--      {% endif %}-->
      {% set count = namespace(value=1) %}
        {% for i in range(num_rows) %}
          <tr>
             {%- for j in range(num_rows) %}
            {% set x = count.value %}
                <td>{{ info[x] }}</td>
            {% set count.value = count.value + 1 %}
             {%- endfor %}
          </tr>

        {% endfor %}
      </tbody>

    </table>
  </body>
  <script src="{{url_for('static', filename='CCjs.js')}}"></script>

</html>
